@model WaterResource.Web.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Đổi mật khẩu";
}
<style>
    .change-pass-bg {
        position: absolute;
        bottom: 0;
        right: 0;
        height: calc(100vh - 57px);
        width: 100vw;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<div class="change-pass-bg" style="background-image: url('../../LocalFiles/images/thuy-dien-suoi-tan.jpg');"></div>
<div class="col-12 h-100 row m-0 p-0 justify-content-end">
    <div class="col-4 h-100 bg-white row m-0 align-items-center">
        <div class="col-12">
            <h5 class="mb-5 text-danger font-weight-bold text-uppercase text-center">@ViewBag.Title</h5>
            @using (Html.BeginForm("ChangePassword", "UserMan", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="pb-5">
                    <div class="floating-label">
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "floating-input w-100" })
                        @Html.LabelFor(m => m.OldPassword)
                        @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                        <p class="text-danger m-0">@TempData["error"]</p>
                    </div>
                </div>
                <div class="pb-5">
                    <div class="floating-label">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "floating-input w-100" })
                        @Html.LabelFor(m => m.NewPassword)
                        @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                        <p class="m-0"></p>
                    </div>
                </div>
                <div class="pb-5">
                    <div class="floating-label">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "floating-input w-100" })
                        @Html.LabelFor(m => m.ConfirmPassword)
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div>
                    <div class="col-md-12 p-0 d-flex justify-content-end">
                        <a href="/" class="btn btn-sm btn-cancel mx-1">Hủy</a>
                        <input type="submit" value="Đổi mật khẩu" class="btn btn-sm btn-addnew" />
                    </div>
                </div>
            }
            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
            }
        </div>
    </div>
</div>