@*@using WaterResource.Service;
    @{
        UserRightService _service = new UserRightService();
    }
    <div id="viewLicense" class="sidenav p-0">
        <div>
            <div class="doc-title py-2 px-0 col-12 d-flex align-items-center" style="background:#15538f; color: #fff; height: 50px">
                <div class="d-flex col-12 p-0 align-items-center">
                    <div class="col-10">
                        <div class="admission-title d-flex center-center">
                            <p class="m-0 col-12 p-0 text-left text-uppercase font-16" ng-bind-html="asideHeader"></p>
                        </div>
                    </div>
                    <a href="javascript:void(0)" class="closebtn m-0 p-0 text-white" ng-click="closeAside('viewLicense')">&times;</a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <fieldset class="col-12 border border-secondary px-2 mb-2 background-color bg-lightgray">
                <legend class="font-18 font-weight-bold text-primary" style="width: auto">THÔNG TIN TỔ CHỨC/CÁ NHÂN </legend>
                <div class="mb-2">
                    <div class="col-sm-12 p-0 py-3 row m-0">
                        <div class="col-12 col-md-6">
                            <label class="font-13">Tên tổ chức/cá nhân được CP </label>
                            <input readonly class="floating-input w-100 text-left" type="text" placeholder=" " ng-model="license.Business.Name" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="font-13">Địa chỉ tổ chức/cá nhân được CP</label>
                            <input readonly class="floating-input w-100" ng-model="license.Business.Address" type="text" placeholder=" " />
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="font-13">Số giấy đăng ký kinh doanh </label>
                            <input readonly class="floating-input w-100 text-left" type="text" placeholder=" " ng-model="license.Business.IdentifierCode" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="font-13">Số điện thoại </label>
                            <input readonly class="floating-input w-100 text-left" type="text" placeholder=" " ng-model="license.Bussines.Phone" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="font-13">Email</label>
                            <input readonly class="floating-input w-100" ng-model="license.Bussines.Email" type="text" placeholder=" " />
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="font-13">Số Fax </label>
                            <input readonly class="floating-input w-100 text-left" type="text" placeholder=" " ng-model="license.Bussines.Fax" />
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="font-13">Người đại diện pháp luật</label>
                            <input readonly class="floating-input w-100" ng-model="license.Bussines.LegalRepresentative" type="text" placeholder=" " />
                        </div>
                        <div class="col-12 col-md-6">
                            <label class="font-13">Người được ủy quyền</label>
                            <input readonly class="floating-input w-100" ng-model="license.Bussines.AuthorityPerson" type="text" placeholder=" " />
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="col-12">
            <fieldset class="col-12 border border-secondary px-2 mb-2 background-color bg-lightgray">
                <legend class="font-18 font-weight-bold text-primary" style="width: auto">THÔNG TIN GIẤY PHÉP</legend>
                <div class="mb-2">
                    <div class="col-sm-12 p-0 py-3 table-responsive">
                        <div class="row m-0">
                            <table class="table table-sm col-12 col-md-6 m-0">
                                <tr>
                                    <th class="align-middle text-nowrap col-12">
                                        <label class="font-13">Số giấy phép</label>
                                        <input readonly class="floating-input w-100" ng-model="license.LicenseNumber" type="text" placeholder=" " />
                                    </th>
                                </tr>
                                <tr>
                                    <th class="align-middle text-nowrap col-12">
                                        <label class="font-13">Tên văn bản</label>
                                        <input readonly class="floating-input w-100" ng-model="license.LicenseName" type="text" placeholder=" " />
                                    </th>
                                </tr>
                                <tr>
                                    <th class="align-middle text-nowrap col-12">
                                        <label class="font-13">Loại hình giấy phép</label>
                                        <input readonly class="floating-input w-100" ng-model="license.LicenseTypeName" type="text" placeholder=" " />
                                    </th>
                                </tr>
                                <tr>
                                    <th class="align-middle text-nowrap col-12">
                                        <label class="font-13">Cơ quan cấp phép</label>
                                        <input readonly class="floating-input w-100" ng-model="license.LicensingAuthoritiesName" type="text" placeholder=" " />
                                    </th>
                                </tr>
                            </table>
                            <table class="table table-sm col-12 col-md-6 m-0">
                                <tr>
                                    <th class="align-middle text-nowrap col-12">
                                        <label class="font-13">Ngày ký</label>
                                        <input readonly class="floating-input w-100" type="text" placeholder=" " ng-model="license.SignDate" />
                                    </th>
                                </tr>
                                <tr>
                                    <th class="align-middle text-nowrap col-12">
                                        <label class="font-13">Ngày có hiệu lực</label>
                                        <input readonly class="floating-input w-100" type="text" placeholder=" " ng-model="license.IssueDate" />
                                    </th>
                                </tr>
                                <tr>
                                    <th class="align-middle text-nowrap col-12">
                                        <label class="font-13">Thời hạn giấy phép</label>
                                        <input readonly class="floating-input w-100" type="text" placeholder=" " ng-model="license.Duration" />
                                    </th>
                                </tr>
                                <tr>
                                    <th class="align-middle text-nowrap col-12">
                                        <label class="font-13">Ngày hết hiệu lực</label>
                                        <input readonly class="floating-input w-100" type="text" placeholder=" " ng-model="license.ExpireDate" />
                                    </th>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-12 p-0 row">
                            <div class="col-md-6 p-2">
                                <div class="floating-label my-2">
                                    <input readonly type="text" ng-model="license.ThietBiQuanTracMucNuoc" class="floating-input w-100" placeholder=" ">
                                    <label class="font-13">Thiết bị quan trắc mực nước</label>
                                </div>
                            </div>
                            <div class="col-md-6 p-2">
                                <div class="floating-label my-2">
                                    <input readonly type="text" ng-model="license.ThietBiQuanTracMua" class="floating-input w-100" placeholder=" ">
                                    <label class="font-13">Thiết bị quan trắc mưa</label>
                                </div>
                            </div>
                            <div class="col-md-6 p-2">
                                <div class="floating-label my-2">
                                    <input readonly type="text" ng-model="license.ThietBiQuanTracLuuLuong" class="floating-input w-100" placeholder=" ">
                                    <label class="font-13">Thiết bị quan trắc lưu lượng</label>
                                </div>
                            </div>
                            <div class="col-md-6 p-2">
                                <div class="floating-label my-2">
                                    <input readonly type="text" ng-model="license.ThietBiQuanTracDongChayToiThieu" class="floating-input w-100" placeholder=" ">
                                    <label class="font-13">Thiết bị quan trắc dòng chảy tối thiểu</label>
                                </div>
                            </div>
                            <div class="col-md-12 p-2">
                                <div class="floating-label my-2">
                                    <input readonly type="text" ng-model="license.ThietBiQuanTracDinhKy" class="floating-input w-100" placeholder=" ">
                                    <label class="font-13">Thiết bị quan trắc định kỳ</label>
                                </div>
                            </div>
                        </div>
                        <div ng-if="TypeOfParentConstructionId == 8 || TypeOfParentConstructionId == 9 || TypeOfParentConstructionId == 10" class="col-sm-12 p-0 row">
                            <div class="col-md-6 p-2">
                                <div class="floating-label my-2">
                                    <input readonly type="number" ng-model="license.QuanTracMuaMua" class="floating-input w-100" placeholder=" ">
                                    <label class="font-13">Quan trắc mùa mưa</label>
                                </div>
                            </div>
                            <div class="col-md-6 p-2">
                                <div class="floating-label my-2">
                                    <input readonly type="number" ng-model="license.QuanTracMuaKho" class="floating-input w-100" placeholder=" ">
                                    <label class="font-13">Quan trắc mùa khô</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 p-0 row" ng-if="license.OldLicense !== null">
                            <div class="col-12 col-md-6">
                                <label class="font-13">Số giấy phép cũ </label>
                                <input readonly class="floating-input w-100 text-left" type="text" placeholder=" " ng-model="license.OldLicense.LicenseNumber" />
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="font-13">Ngày ký giấy phép cũ</label>
                                <input readonly class="floating-input w-100" ng-model="license.OldLicense.SignDate" type="text" placeholder=" " />
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="col-12">
            <fieldset class="col-12 border border-secondary p-2 mb-2 background-color bg-lightgray">
                <legend class="font-18 font-weight-bold text-primary text-uppercase" style="width: auto">Mục đích khai thác sử dụng</legend>
                <div class="mb-2">
                    <div class="table-responsive">
                        <table class="table table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th class="text-center align-middle font-13 font-weight-normal" rowspan="2">TT</th>
                                    <th class="text-center align-middle font-13 font-weight-normal" rowspan="2">Mục đích khai thác sử dụng</th>
                                    <th class="text-center align-middle font-13 font-weight-normal">Lưu lượng(m<sup>3</sup>/<sub>ngày đêm</sub>)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in license.MiningPurposes">
                                    <th class="text-center align-middle font-13" ng-bind-html="$index"></th>
                                    <td>{{item.Purpose}}</td>
                                    <td>{{item.WaterExploitedFlow}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </fieldset>
        </div>
        @Html.Partial("_viewLicenseConstruction/_Dischargewater")
        @Html.Partial("_viewLicenseConstruction/_DrillingPracticeGroundwater")
        @Html.Partial("_viewLicenseConstruction/_ExploitGroundwater")
        @Html.Partial("_viewLicenseConstruction/_ProbeGroundwater")
        @Html.Partial("_viewLicenseConstruction/_Surfacewater")

        <div class="col-12">
            <fieldset class="col-12 border border-secondary px-2 mb-2 background-color bg-lightgray">
                <legend class="font-18 font-weight-bold text-primary" style="width: auto">THEO DÕI QUÁ TRÌNH SAU GIẤY PHÉP</legend>
                <div class="mb-2">
                    <div class="col-sm-12 p-0 py-3">
                        <fieldset class="col-12 border border-secondary px-2 mb-2 background-color bg-lightgray">
                            <legend class="font-16 font-weight-bold" style="width: auto">Thanh tra - Kiểm tra</legend>
                            <div class="table-responsive">
                                <table class="table table-sm">
                                    <tr>
                                        <th class="text-center align-middle text-nowrap font-13">Tên đợt thanh tra </th>
                                        <th class="text-center align-middle text-nowrap font-13">Đơn vị thực hiện  </th>
                                        <th class="text-center align-middle text-nowrap font-13">Số quyết định</th>
                                        <th class="text-center align-middle text-nowrap font-13">Thời gian thanh tra  </th>
                                        <th class="text-center align-middle text-nowrap font-13">Tổng tiền phạt</th>
                                        <th class="text-center align-middle text-nowrap font-13">Kết luận thanh tra </th>
                                    </tr>
                                    <tr ng-repeat="item in license.Construction.Inspection">
                                        <td><input readonly class="floating-input w-100" type="text" placeholder=" " ng-model="item.InspectionName" /></td>
                                        <td><input readonly class="floating-input w-100" type="text" placeholder=" " ng-model="item.InspectionUnit" /></td>
                                        <td><input readonly class="floating-input w-100" type="text" placeholder=" " ng-model="item.DecisionNumber" /></td>
                                        <td><input readonly class="floating-input w-100" type="text" placeholder=" " ng-model="item.InspectionDate" /></td>
                                        <td><input readonly class="floating-input w-100 " type="number" placeholder=" " ng-model="item.Fines" /></td>
                                        <td>
                                            <div class="tools d-flex justify-content-center" ng-if="item.FilePDF">
                                                <a href="javascript:void(0)" ng-click="openAsideFileInspection(item.FilePDF)">
                                                    <i class="fa-solid fa-file-pdf" title="Xem file PDF" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </fieldset>
                        <fieldset class="col-12 border border-secondary px-2 mb-2 background-color bg-lightgray">
                            <legend class="font-16 font-weight-bold" style="width: auto">Tiền cấp quyền khai thác sử dụng</legend>
                            <div class="table-responsive">
                                <table class="table table-sm">
                                    <tr>
                                        <th class="text-center align-middle text-nowrap font-13">Số quyết định</th>
                                        <th class="text-center align-middle text-nowrap font-13">Ngày ký</th>
                                        <th class="text-center align-middle text-nowrap font-13">Tổng tiền</th>
                                        <th class="text-center align-middle text-nowrap font-13">File PDF</th>
                                    </tr>
                                    <tr>
                                        <td><input readonly class="floating-input text-nowrap w-100" type="text" placeholder=" " ng-model="license.LicenseFee.LicenseFeeNumber" /></td>
                                        <td style="min-width: 75px"><input readonly class="floating-input text-nowrap w-100" type="text" placeholder=" " ng-model="license.LicenseFee.SignDate" /></td>
                                        <td style="min-width: 100px;"><input readonly class="floating-input text-nowrap w-100" type="text" placeholder=" " ng-model="license.LicenseFee.TotalMoney" /></td>
                                        <td style="min-width: 105px">
                                            <div class="tools d-flex justify-content-center">
                                                <a href="javascript:void(0)" ng-if="license.LicenseFee.FilePDF" ng-click="openAsideFileLicenseFee(license.LicenseFee.FilePDF)">
                                                    <i class="fa-solid fa-file-pdf" title="Xem file PDF" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="col-12">
            <fieldset class="col-12 border border-secondary px-2 mb-2 background-color bg-lightgray">
                <legend class="font-18 font-weight-bold text-primary" style="width: auto">GIẤY TỜ, TÀI LIỆU NỘP KÈM THEO (.pdf)</legend>
                <div class="mb-2 row mx-0 p-0 py-3">
                    <div class="col-12 col-md-4">
                        <label class="font-13">Hồ sơ cấp phép</label>
                        <div class="tools d-flex justify-content-center" ng-if="license.LicenseFile">
                            <a href="javascript:void(0)" ng-click="openAsideFileLicense(license.TypeOfConstructionId, license.LicenseFile)">
                                <i class="fa-solid fa-file-pdf" title="Xem file PDF" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <label class="font-13">Đơn xin cấp phép</label>
                        <div class="tools d-flex justify-content-center" ng-if="license.LicenseRequestFile">
                            <a href="javascript:void(0)" ng-click="openAsideFileLicense(license.TypeOfConstructionId, license.LicenseRequestFile)">
                                <i class="fa-solid fa-file-pdf" title="Xem file PDF" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <label class="font-13">Hồ sơ pháp lý có liên quan</label>
                        <div class="tools d-flex justify-content-center" ng-if="license.RelatedDocumentFile">
                            <a href="javascript:void(0)" ng-click="openAsideFileLicense(license.TypeOfConstructionId, license.RelatedDocumentFile)">
                                <i class="fa-solid fa-file-pdf" title="Xem file PDF" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="pb-4 col-sm-12 d-flex justify-content-end">
            @if (_service.IsViewAction("/giay-phep", User.Identity.Name, "EDIT"))
            {
                <button type="button" class="btn btn-addnew mx-2 fw-bold font-14 d-flex align-items-center" ng-click="EDIT(license,'formCreateLicense', 'viewLicense')">
                    CHỈNH SỬA &nbsp; <i class="fa fa-edit"></i>
                </button>
            }

            <button type="button" class="btn btn-cancel mx-2 fw-bold font-14 d-flex align-items-center" href="javascript:void(0)" ng-click="closeAside('viewLicense')">
                ĐÓNG &nbsp; <i class="fa fa-times-circle"></i>
            </button>
        </div>
    </div>*@