@using WaterResource.Service;
@{
    ViewBag.Title = "Hệ thống quản lý cơ sở dữ liệu cấp phép khai thác sử dụng nước mặt";
    UserRightService _service = new UserRightService();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (_service.IsViewAction("giay-phep", User.Identity.Name, "VIEW"))
{
    <style>
        .leaflet-popup-content {
            overflow-y: auto;
        }
    </style>
    <link href="~/Assets/leaflet/leaflet.css" rel="stylesheet" />
    <script src="~/Assets/leaflet/leaflet.js"></script>
    <script src="~/Assets/leaflet/L.KML.js"></script>
    <!-- Load Esri Leaflet from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/esri-leaflet/2.0.4/esri-leaflet.js"></script>

    <!-- Load Esri Leaflet Vector from CDN -->
    <script src="https://unpkg.com/esri-leaflet-vector@3.1.3/dist/esri-leaflet-vector.js" crossorigin=""></script>
    <input type="hidden" id="tbxUsername" value="@User.Identity.Name" />
    <script src="~/Assets/leaflet/leaflet-bing-layer.js"></script>
    <script src="~/Assets/leaflet/Bing.js"></script>
    <div ng-controller="myCntrl as demo">
        <script src="~/Scripts/License/Controller.js"></script>
        @Html.Partial("ImportServiceJs")
        <!-- Main content -->
        <section class="content px-0">
            <div class="row m-0">
                <section class="col-12 p-0">
                    <div class="col-md-12 p-0">
                        <div class="p-0 bg-white">
                            <div class="row m-0">
                                <div class="col-12 col-md-3 p-0 countLicense">
                                    <div class="col-12">
                                        <div class="col-12 py-1 d-flex justify-content-center text-center border-bottom">
                                            <div class="col-9 text-left p-0">
                                                <p class="font-weight-bold m-0 font-14">Tổng số giấy phép</p>
                                                <p class="font-18 m-0 font-weight-bold text-danger"> <span ng-bind-html="CountLicenses.drillingPracticeGroundwater[0] - 0"></span> </p>
                                            </div>
                                            <img src="~/LocalFiles/images/QUAN_LY_CAP_PHEP/CONG_TRINH/licensing.png" class="p-0 hydroelectric-sub-icon border-secondary my-auto mx-2" alt="giay-phep" />
                                        </div>
                                        <div class="col-12 py-1 d-flex justify-content-center text-center border-bottom">
                                            <div class="col-9 text-left p-0">
                                                <p class="font-weight-bold m-0 font-14">Giấy phép sắp hết hiệu lực</p>
                                                <p class="font-18 m-0 font-weight-bold text-danger"> <span ng-bind-html="CountLicenses.drillingPracticeGroundwater[2] - 0"></span> / <span ng-bind-html="CountLicenses.drillingPracticeGroundwater[0] - 0"></span></p>
                                            </div>
                                            <img src="~/LocalFiles/images/QUAN_LY_CAP_PHEP/CONG_TRINH/licensing-2.png" class="p-0 hydroelectric-sub-icon border-secondary my-auto mx-2" alt="giay-phep-2" />
                                        </div>
                                        <div class="col-12 py-1 d-flex justify-content-center text-center border-bottom">
                                            <div class="col-9 text-left p-0">
                                                <p class="font-weight-bold m-0 font-14">Giấy phép hết hiệu lực</p>
                                                <p class="font-18 m-0 font-weight-bold text-danger"> <span ng-bind-html="CountLicenses.drillingPracticeGroundwater[1] - 0"></span> / <span ng-bind-html="CountLicenses.drillingPracticeGroundwater[0] - 0"></span></p>
                                            </div>
                                            <img src="~/LocalFiles/images/QUAN_LY_CAP_PHEP/CONG_TRINH/licensing-3.png" class="p-0 hydroelectric-sub-icon border-secondary my-auto mx-2" alt="giay-phep-3" />
                                        </div>
                                        <div class="col-12 py-1 d-flex justify-content-center text-center border-bottom mb-lg-3">
                                            <div class="col-9 text-left p-0">
                                                <p class="font-weight-bold m-0 font-14">Đã bị thu hồi</p>
                                                <p class="font-18 m-0 font-weight-bold text-danger">  <span ng-bind-html="CountLicenses.drillingPracticeGroundwater[5] - 0"></span> / <span ng-bind-html="CountLicenses.drillingPracticeGroundwater[0] - 0"></span></p>
                                            </div>
                                            <img src="~/LocalFiles/images/QUAN_LY_CAP_PHEP/CONG_TRINH/expire.png" class="p-0 hydroelectric-sub-icon border-secondary my-auto mx-2" alt="het-han" />
                                        </div>
                                    </div>
                                </div>
                                <!-- MAP -->
                                <div class="col-12 col-md-9">
                                    <div style="width: 100%; height: 45vh">
                                        <select id="basemaps" class="form-select switch-basemap" aria-label="Default select example">
                                            <option value="Imagery">Bản đồ vệ tinh</option>
                                            <option value="Topographic">Bản đồ địa hình</option>
                                            <option value="Streets">Bản đồ đường</option>
                                            <option value="Gray">Bản đồ xám</option>
                                        </select>
                                        <div class="common-map" id="Map"></div>
                                    </div>
                                </div>
                                <!-- END MAP -->
                            </div>
                            <div class="col-12">
                                @Html.Partial("_search")

                                <div class="table-responsive wrapper-sticky">
                                    <table class="table no-margin table-hover table-bordered" id="table-show-license">
                                        <thead class="custom-table-thead">
                                            <tr class="text-center">
                                                <th rowspan="2" class="text-nowrap sticky-col start-col">Số GP</th>
                                                <th colspan="8" class="text-nowrap">Thông tin giấy phép</th>
                                                <th colspan="2" class="text-nowrap">Thông tin giấy phép cũ</th>
                                                <th colspan="4" class="text-nowrap">Thông tin công trình</th>
                                                <th rowspan="2" class="text-nowrap">Quy mô hành nghề</th>
                                                <th rowspan="2" class="text-nowrap sticky-col end-col" style="width: 90px;">Thao tác</th>
                                            </tr>
                                            <tr class="text-center">
                                                <!-- License -->
                                                <th class="text-nowrap">Hiệu lực GP</th>
                                                <th class="text-nowrap">Ngày ký</th>
                                                <th class="text-nowrap">Thời hạn giấy phép</th>
                                                <th class="text-nowrap">Ngày bắt đầu hiệu lực</th>
                                                <th class="text-nowrap">Ngày kết thúc hiệu lực</th>
                                                <th class="text-nowrap">Tên chủ giấy phép</th>
                                                <th class="text-nowrap">Địa chỉ chủ giấy phép</th>
                                                <th class="text-nowrap">Loại hình cấp phép</th>
                                                <!-- Olđ license -->
                                                <th class="text-nowrap">Số giấy phép cũ</th>
                                                <th class="text-nowrap">Ngày ký số giấy phép cũ</th>
                                                <!-- Construction -->
                                                <th class="text-nowrap">Tên công trình</th>
                                                <th class="text-nowrap">Địa điểm công trình</th>
                                                <th class="text-nowrap">Xã</th>
                                                <th class="text-nowrap">Huyện</th>
                                            </tr>
                                        </thead>
                                        <tbody class="custom-table-tbody">
                                            <tr ng-repeat="item in Licenses">
                                                <td class="sticky-col start-col align-middle"><span ng-click="openAsideFileLicense(item.TypeOfConstructionId, item.LicenseFile)" class="text-primary text-nowrap" ng-bind="item.LicenseNumber"></span></td>
                                                <td class="align-middle" ng-bind-html="CheckLicenseEffectExcel(item)"></td>
                                                <td class="align-middle" ng-bind="item.SignDate | date:'dd/MM/yyyy'"></td>
                                                <td class="align-middle" ng-bind="item.Duration"></td>
                                                <td class="align-middle" ng-bind="item.IssueDate | date:'dd/MM/yyyy'"></td>
                                                <td class="align-middle" ng-bind="item.ExpireDate | date:'dd/MM/yyyy'"></td>
                                                <td class="align-middle" ng-bind="item.Business.Name"></td>
                                                <td class="align-middle" ng-bind="item.Business.Address"></td>
                                                <td class="align-middle" ng-bind="item.LicenseTypeName"></td>
                                                <td class="align-middle" ng-bind="item.OldLicense.LicenseNumber"></td>
                                                <td class="align-middle" ng-bind="item.OldLicense.SignDate"></td>
                                                <td class="align-middle" ng-bind="item.Construction.ConstructionName"></td>
                                                <td class="align-middle" ng-bind="item.Construction.ConstructionLocation"></td>
                                                <td class="align-middle" ng-bind="item.Location.CommuneName"></td>
                                                <td class="align-middle" ng-bind="item.Location.DistrictName"></td>
                                                <td class="align-middle" ng-bind="item.Construction.DrillingScale"></td>
                                                <td class="align-middle sticky-col end-col">
                                                    <div class="d-flex">
                                                        @if (_service.IsViewAction("giay-phep", User.Identity.Name, "EDIT"))
                                                        {
                                                            <button style="padding-left:10px" class="btn btn-link" ng-click="EDIT(item,'formCreateLicense')" title="Sửa">
                                                                <i class="fa fa-edit" aria-hidden="true"></i>
                                                            </button>
                                                        }
                                                        @if (_service.IsViewAction("/giay-phep", User.Identity.Name, "DELETE"))
                                                        {
                                                            <button style="padding-left:10px" class="btn text-red" ng-click="DELETE(item,1)" title="Xóa giấy phép">
                                                                <i class="fa-solid fa-trash-can"></i>
                                                            </button>
                                                        }
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <!-- pagination -->
                                @Html.Partial("_pagination")
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <table class="d-none" id="excel-export">
                <thead>
                    <tr>
                        <th>Số giấy phép</th>
                        <th>Ngày ký</th>
                        <th>Thời hạn cấp phép</th>
                        <th>Ngày bắt đầu hiệu lực</th>
                        <th>Ngày kết thúc hiệu lực</th>
                        <th>Tên chủ giấy phép</th>
                        <th>Địa chỉ chủ giấy phép</th>
                        <th>Loại hình cấp phép</th>
                        <th>Số giấy phép cũ</th>
                        <th>Ngày ký số giấy phép cũ</th>
                        <th>Mã tỉnh</th>
                        <th>Mã huyện</th>
                        <th>Mã xã</th>
                        <th>Quy mô hành nghề</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in ExcelLicense">
                        <td ng-bind="item.LicenseNumber"></td>
                        <td ng-bind="item.SignDate | date:'dd/MM/yyyy'"></td>
                        <td ng-bind="item.Duration"></td>
                        <td ng-bind="item.IssueDate | date:'dd/MM/yyyy'"></td>
                        <td ng-bind="item.ExpireDate | date:'dd/MM/yyyy'"></td>
                        <td ng-bind="item.Business.Name"></td>
                        <td ng-bind="item.Business.Address"></td>
                        <td ng-bind="item.LicenseTypeName"></td>
                        <td ng-bind="item.OldLicense.LicenseNumber"></td>
                        <td ng-bind="item.OldLicense.SignDate | date:'dd/MM/yyyy'"></td>
                        <td ng-bind="item.Construction.ProvinceId"></td>
                        <td ng-bind="item.Construction.DistrictId"></td>
                        <td ng-bind="item.Construction.CommuneId"></td>
                        <td ng-bind="item.Construction.DrillingScale"></td>
                    </tr>
                </tbody>
            </table>

            @Html.Partial("ViewFilePDF")
            @Html.Partial("_formCreateLicense")
            @Html.Partial("_addBusiness")
            @Html.Partial("_viewLicense")
            @Html.Partial("_ModalConstruction/_DrillingPracticeGroundwater")
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
}
else
{
    @Html.Partial("_401")
}