@using Microsoft.AspNet.Identity
@using WaterResource.Service;
@{
    ViewBag.Title = "QUY HOẠCH TÀI NGUYÊN NƯỚC";
    UserRightService _service = new UserRightService();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (_service.IsViewAction("/quy-hoach-tai-nguyen-nuoc", User.Identity.Name, "VIEW"))
{
    <div ng-controller="myCntrl as demo" class="p-0 ">

        <script src="~/Scripts/WaterResourcePlanning/Service.js"></script>
        <script src="~/Scripts/WaterResourcePlanning/Controller.js"></script>

        <section class="content">
            <div class="col-md-12 p-0">
                <div class="row m-0 p-0">
                    <div class="col-12 col-md-12 row mx-0 px-0 ">
                        <div class="col-md-12">
                            <div class="card card-light card-tabs rounded-0 tabs">
                                <div class="card-header rounded-0 p-0">
                                    <ul class="nav nav-tabs" id="PowerProductionDetail-tab" role="tablist">
                                        <!--nút bấm tab hiển thị bảng-->
                                        <li ng-click="ChangeAside('aside',11)" class="nav-item">
                                            <a class="nav-link rounded-0 active" id="DienTichTangChuaNuoc-tab" data-toggle="pill" href="#DienTichTangChuaNuoc" role="tab" aria-controls="DienTichTangChuaNuoc" aria-selected="false">Diện tích tầng chứa nước</a>
                                        </li>
                                        <!--kết thúc nút-->
                                        <!--nút bấm tab hiển thị bảng-->
                                        <li ng-click="ChangeAside('aside',12)" class="nav-item">
                                            <a class="nav-link rounded-0" id="TruLuongDongTuNhien-tab" data-toggle="pill" href="#TruLuongDongTuNhien" role="tab" aria-controls="TruLuongDongTuNhien" aria-selected="false">Trữ lượng động tự nhiên của NDĐ </a>
                                        </li>
                                        <!--kết thúc nút-->
                                        <!--nút bấm tab hiển thị bảng-->
                                        <li ng-click="ChangeAside('aside2',13)" class="nav-item">
                                            <a class="nav-link rounded-0" id="TruLuongKhaiThacTungTang-tab" data-toggle="pill" href="#TruLuongKhaiThacTungTang" role="tab" aria-controls="TruLuongKhaiThacTungTang" aria-selected="false">Trữ lượng trữ lượng khai thác từng tầng của NDĐ </a>
                                        </li>
                                        <!--kết thúc nút-->
                                    </ul>
                                </div>
                                <div class="tab-content">
                                    <!-- Tab hien thi bang  -->
                                    <div class="tab-pane fade show active p-0" id="DienTichTangChuaNuoc" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <div class="p-3">
                                            <!--Chỗ dán bảng-->
                                            <!-- PHẦN ĐẦU TRANG -->
                                            <div class="form-title d-flex justify-content-between col-12">
                                                <div class="col-6 col-sm-3 text-center p-0">
                                                    <h5 class="font-sm-14 m-0">UBND TỈNH SƠN LA</h5>
                                                    <h5 class="font-sm-14 font-weight-bold m-0">SỞ TÀI NGUYÊN VÀ MÔI TRƯỜNG</h5>
                                                    <p class="font-sm-13 d-flex center-center">Số: <input type="text" class="form-control form-control-sm" style="width: 50px;" />   /STNMT-TNN-KS&KTTV</p>
                                                </div>
                                                <div class="col-6 col-sm-4 text-center">
                                                    <h5 class="font-sm-14 m-0">CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM</h5>
                                                    <h5 class="font-sm-14 font-weight-bold m-0">Độc lập - Tự do - Hạnh phúc</h5>
                                                    <i class="font-sm-13">Sơn La, ngày {{getDatetime | date:'dd'}} tháng {{getDatetime | date:'MM'}} năm {{getDatetime | date:'yyyy'}}</i>
                                                </div>
                                            </div>

                                            <div class="form-title col-12 text-center mt-2 my-4">
                                                <h4 class="font-sm-18 m-0 font-weight-bold">THỐNG KÊ </h4>
                                                <p class="font-sm-15 m-0 font-weight-bold">THÔNG TIN DỮ LIỆU VỀ DIỆN TÍCH CÁC TẦNG CHỨA NƯỚC TRÊN ĐỊA BÀN TỈNH SƠN LA THEO TIỂU VÙNG QUY HOẠCH</p>
                                                <p class="m-0 font-weight-bold d-flex center-center">(Kỳ báo cáo:  <input type="text" class="form-control form-control-sm font-weight-bold" style="width: 50px;" />)</p>
                                            </div>

                                            @Html.Partial("_Search")

                                            <div class="table-responsive">
                                                <table class="table no-margin table-hover table-bordered">
                                                    <thead class="custom-table-thead">
                                                        <tr>
                                                            <th class="text-center align-middle">STT</th>
                                                            <th class="text-center align-middle">Tầng chứa nước/Lưu vực </th>
                                                            <th class="text-center align-middle text-nowrap">Nậm La</th>
                                                            <th class="text-center align-middle">Nậm Pàn</th>
                                                            <th class="text-center align-middle">Nậm Công</th>
                                                            <th class="text-center align-middle">Nậm Giôn</th>
                                                            <th class="text-center align-middle">Nậm Lệ</th>
                                                            <th class="text-center align-middle">Nậm Mu</th>
                                                            <th class="text-center align-middle">Nậm Sọi</th>
                                                            <th class="text-center align-middle">Nậm Ty</th>
                                                            <th class="text-center align-middle">Suối Muội</th>
                                                            <th class="text-center align-middle">Suối Sập</th>
                                                            <th class="text-center align-middle">Suối Sập Vạt</th>
                                                            <th class="text-center align-middle">Suối Tấc</th>
                                                            <th class="text-center align-middle">Tổng toàn tỉnh</th>
                                                            <th class="text-center align-middle"> Ghi chú </th>
                                                            <th class="text-center align-middle">Thao tác</th>
                                                        </tr>
                                                        <tr>
                                                            <th class="text-center align-middle">(1)</th>
                                                            <th class="text-center align-middle">(2)</th>
                                                            <th class="text-center align-middle">(3)</th>
                                                            <th class="text-center align-middle">(4) </th>
                                                            <th class="text-center align-middle">(5)</th>
                                                            <th class="text-center align-middle">(6)</th>
                                                            <th class="text-center align-middle">(7)</th>
                                                            <th class="text-center align-middle">(8)</th>
                                                            <th class="text-center align-middle">(9)</th>
                                                            <th class="text-center align-middle">(10)</th>
                                                            <th class="text-center align-middle">(11)</th>
                                                            <th class="text-center align-middle">(12)</th>
                                                            <th class="text-center align-middle">(13)</th>
                                                            <th class="text-center align-middle">(14)</th>
                                                            <th class="text-center align-middle">(15)</th>
                                                            <th class="text-center align-middle">(16)</th>
                                                            <th class="text-center align-middle">(17)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="custom-table-tbody">
                                                        <tr class="text-center" ng-repeat="item in Data">
                                                            <th class="text-center align-middle">{{(currentPage -1)*numPerPage+$index+1}}</th>
                                                            <td class="text-center align-middle" ng-bind="item.Basin"></td>
                                                            <td class="text-center align-middle" ng-bind="item.I"></td>
                                                            <td class="text-center align-middle" ng-bind="item.II"></td>
                                                            <td class="text-center align-middle" ng-bind="item.III"></td>
                                                            <td class="text-center align-middle" ng-bind="item.IV"></td>
                                                            <td class="text-center align-middle" ng-bind="item.V"></td>
                                                            <td class="text-center align-middle" ng-bind="item.VI"></td>
                                                            <td class="text-center align-middle" ng-bind="item.VII"></td>
                                                            <td class="text-center align-middle" ng-bind="item.VIII"></td>
                                                            <td class="text-center align-middle" ng-bind="item.IX"></td>
                                                            <td class="text-center align-middle" ng-bind="item.X"></td>
                                                            <td class="text-center align-middle" ng-bind="item.XI"></td>
                                                            <td class="text-center align-middle" ng-bind="item.XII"></td>
                                                            <td class="text-center align-middle" ng-bind="item.AverageYear"></td>
                                                            <td><span ng-bind="item.Description"></span></td>
                                                            <td class="text-center align-middle">
                                                                <div class="d-flex">
                                                                    @if (_service.IsViewAction("/quy-hoach-tai-nguyen-nuoc", User.Identity.Name, "EDIT"))
                                                                    {
                                                                        <a href="javascript:void(0)" class="px-2" title="Chỉnh sửa" ng-click="Edit(item)"><i class="fa fa-edit"></i></a>
                                                                    }
                                                                    @if (_service.IsViewAction("/quy-hoach-tai-nguyen-nuoc", User.Identity.Name, "DELETE"))
                                                                    {
                                                                        <a href="javascript:void(0)" class="text-red" title="Xóa" ng-click="Delete(item)"><i class="fa-solid fa-trash-can"></i></a>
                                                                    }
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- PHẦN phân trang file cshtml-->
                                            <div class="box-footer">
                                                <div class="box-tools pull-right">
                                                    <ul uib-pagination
                                                        total-items="TotalItem "
                                                        ng-model="currentPage"
                                                        items-per-page="numPerPage "
                                                        boundary-links="true"
                                                        previous-text=" &#xf104;"
                                                        next-text=" &#xf105;"
                                                        first-text=" &#xf100;"
                                                        last-text=" &#xf101;"
                                                        max-size="maxSize " ng-change="pageChanged()"
                                                        class="pagination pagination-sm inline fa d-flex"></ul>
                                                </div>
                                            </div>

                                            <!-- PHẦN CHÂN TRANG -->
                                            <div class="form-title d-flex justify-content-between col-12 my-3">
                                                <div class="col-6 col-md-3 text-left p-0 font-sm-13">
                                                    <i>Nơi nhận</i>
                                                    <p class="m-0">- Ban Giám đốc Sở</p>
                                                    <p class="m-0">- Lưu: VT; TNN, KS&KTTV; VP, 10b</p>
                                                </div>
                                                <div class="col-6 col-md-4 text-center font-sm-13">
                                                    <p class="mb-5 font-weight-bold h5 font-sm-16 font-sm-14">NGƯỜI THỐNG KÊ </p>
                                                    <p class="mb-0 mt-5 font-weight-bold">
                                                        @if (Request.IsAuthenticated)
                                                        {
                                                            @User.Identity.GetUserName()
                                                        }
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- KẾT THÚC PHẦN CHÂN TRANG -->
                                        </div>
                                    </div>
                                    <!-- Kết thúc tab hiển thị bảng -->
                                    <!-- Tab hien thi bang  -->
                                    <div class="tab-pane fade p-0" id="TruLuongDongTuNhien" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <div class="p-3">
                                            <!--Chỗ dán bảng-->
                                            <!-- PHẦN ĐẦU TRANG -->
                                            <div class="form-title d-flex justify-content-between col-12">
                                                <div class="col-6 col-sm-3 text-center p-0">
                                                    <h5 class="font-sm-14 m-0">UBND TỈNH SƠN LA</h5>
                                                    <h5 class="font-sm-14 font-weight-bold m-0">SỞ TÀI NGUYÊN VÀ MÔI TRƯỜNG</h5>
                                                    <p class="font-sm-13 d-flex center-center">Số: <input type="text" class="form-control form-control-sm" style="width: 50px;" />   /STNMT-TNN-KS&KTTV</p>
                                                </div>
                                                <div class="col-6 col-sm-4 text-center">
                                                    <h5 class="font-sm-14 m-0">CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM</h5>
                                                    <h5 class="font-sm-14 font-weight-bold m-0">Độc lập - Tự do - Hạnh phúc</h5>
                                                    <i class="font-sm-13">Sơn La, ngày {{getDatetime | date:'dd'}} tháng {{getDatetime | date:'MM'}} năm {{getDatetime | date:'yyyy'}}</i>
                                                </div>
                                            </div>

                                            <div class="form-title col-12 text-center mt-2 my-4">
                                                <h4 class="font-sm-18 m-0 font-weight-bold">THỐNG KÊ </h4>
                                                <p class="font-sm-15 m-0 font-weight-bold">THÔNG TIN DỮ LIỆU VỀ TRỮ LƯỢNG ĐỘNG TỰ NHIÊN CỦA NƯỚC DƯỚI ĐẤT TRÊN ĐỊA BÀN TỈNH SƠN LA </p>
                                                <p class="m-0 font-weight-bold d-flex center-center">(Kỳ báo cáo:  <input type="text" class="form-control form-control-sm font-weight-bold" style="width: 50px;" />)</p>
                                            </div>

                                            @Html.Partial("_Search")

                                            <div class="table-responsive">
                                                <table class="table no-margin table-hover table-bordered">
                                                    <thead class="custom-table-thead">
                                                        <tr>
                                                            <th class="text-center align-middle">STT</th>
                                                            <th class="text-center align-middle">Tầng chứa nước/Lưu vực </th>
                                                            <th class="text-center align-middle text-nowrap">Nậm La</th>
                                                            <th class="text-center align-middle">Nậm Pàn</th>
                                                            <th class="text-center align-middle">Nậm Công</th>
                                                            <th class="text-center align-middle">Nậm Giôn</th>
                                                            <th class="text-center align-middle">Nậm Lệ</th>
                                                            <th class="text-center align-middle">Nậm Mu</th>
                                                            <th class="text-center align-middle">Nậm Sọi</th>
                                                            <th class="text-center align-middle">Nậm Ty</th>
                                                            <th class="text-center align-middle">Suối Muội</th>
                                                            <th class="text-center align-middle">Suối Sập</th>
                                                            <th class="text-center align-middle">Suối Sập Vạt</th>
                                                            <th class="text-center align-middle">Suối Tấc</th>
                                                            <th class="text-center align-middle">Tổng toàn tỉnh</th>
                                                            <th class="text-center align-middle"> Ghi chú </th>
                                                            <th class="text-center align-middle">Thao tác</th>
                                                        </tr>
                                                        <tr>
                                                            <th class="text-center align-middle">(1)</th>
                                                            <th class="text-center align-middle">(2)</th>
                                                            <th class="text-center align-middle">(3)</th>
                                                            <th class="text-center align-middle">(4) </th>
                                                            <th class="text-center align-middle">(5)</th>
                                                            <th class="text-center align-middle">(6)</th>
                                                            <th class="text-center align-middle">(7)</th>
                                                            <th class="text-center align-middle">(8)</th>
                                                            <th class="text-center align-middle">(9)</th>
                                                            <th class="text-center align-middle">(10)</th>
                                                            <th class="text-center align-middle">(11)</th>
                                                            <th class="text-center align-middle">(12)</th>
                                                            <th class="text-center align-middle">(13)</th>
                                                            <th class="text-center align-middle">(14)</th>
                                                            <th class="text-center align-middle">(15)</th>
                                                            <th class="text-center align-middle">(16)</th>
                                                            <th class="text-center align-middle">(17)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="custom-table-tbody">
                                                        <tr class="text-center" ng-repeat="item in WaterResourcePlannings">
                                                            <th class="text-center align-middle">{{(currentPage -1)*numPerPage+$index+1}}</th>
                                                            <td class="text-center align-middle" ng-bind="item.Basin"></td>
                                                            <td class="text-center align-middle" ng-bind="item.I"></td>
                                                            <td class="text-center align-middle" ng-bind="item.II"></td>
                                                            <td class="text-center align-middle" ng-bind="item.III"></td>
                                                            <td class="text-center align-middle" ng-bind="item.IV"></td>
                                                            <td class="text-center align-middle" ng-bind="item.V"></td>
                                                            <td class="text-center align-middle" ng-bind="item.VI"></td>
                                                            <td class="text-center align-middle" ng-bind="item.VII"></td>
                                                            <td class="text-center align-middle" ng-bind="item.VIII"></td>
                                                            <td class="text-center align-middle" ng-bind="item.IX"></td>
                                                            <td class="text-center align-middle" ng-bind="item.X"></td>
                                                            <td class="text-center align-middle" ng-bind="item.XI"></td>
                                                            <td class="text-center align-middle" ng-bind="item.XII"></td>
                                                            <td class="text-center align-middle" ng-bind="item.AverageYear"></td>
                                                            <td><span ng-bind="item.Description"></span></td>
                                                            <td class="text-center align-middle">
                                                                <div class="d-flex">
                                                                    <a href="javascript:void(0)" class="px-2" title="Chỉnh sửa" ng-click="Edit(item)"><i class="fa fa-edit"></i></a>
                                                                    <a href="javascript:void(0)" class="text-red" title="Xóa" ng-click="Delete(item)"><i class="fa-solid fa-trash-can"></i></a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- PHẦN phân trang file cshtml-->
                                            <div class="box-footer">
                                                <div class="box-tools pull-right">
                                                    <ul uib-pagination
                                                        total-items="TotalItem "
                                                        ng-model="currentPage"
                                                        items-per-page="numPerPage "
                                                        boundary-links="true"
                                                        previous-text=" &#xf104;"
                                                        next-text=" &#xf105;"
                                                        first-text=" &#xf100;"
                                                        last-text=" &#xf101;"
                                                        max-size="maxSize " ng-change="pageChanged()"
                                                        class="pagination pagination-sm inline fa d-flex"></ul>
                                                </div>
                                            </div>

                                            <!-- PHẦN CHÂN TRANG -->
                                            <div class="form-title d-flex justify-content-between col-12 my-3">
                                                <div class="col-6 col-md-3 text-left p-0 font-sm-13">
                                                    <i>Nơi nhận</i>
                                                    <p class="m-0">- Ban Giám đốc Sở</p>
                                                    <p class="m-0">- Lưu: VT; TNN, KS&KTTV; VP, 10b</p>
                                                </div>
                                                <div class="col-6 col-md-4 text-center font-sm-13">
                                                    <p class="mb-5 font-weight-bold h5 font-sm-16 font-sm-14">NGƯỜI THỐNG KÊ </p>
                                                    <p class="mb-0 mt-5 font-weight-bold">
                                                        @if (Request.IsAuthenticated)
                                                        {
                                                            @User.Identity.GetUserName()
                                                        }
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- KẾT THÚC PHẦN CHÂN TRANG -->
                                        </div>
                                    </div>
                                    <!-- Kết thúc tab hiển thị bảng -->
                                    <!-- Tab hien thi bang  -->
                                    <div class="tab-pane fade p-0" id="TruLuongKhaiThacTungTang" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <div class="p-3">
                                            <!--Chỗ dán bảng-->
                                            <!-- PHẦN ĐẦU TRANG -->
                                            <div class="form-title d-flex justify-content-between col-12">
                                                <div class="col-6 col-sm-3 text-center p-0">
                                                    <h5 class="font-sm-14 m-0">UBND TỈNH SƠN LA</h5>
                                                    <h5 class="font-sm-14 font-weight-bold m-0">SỞ TÀI NGUYÊN VÀ MÔI TRƯỜNG</h5>
                                                    <p class="font-sm-13 d-flex center-center">Số: <input type="text" class="form-control form-control-sm" style="width: 50px;" />   /STNMT-TNN-KS&KTTV</p>
                                                </div>
                                                <div class="col-6 col-sm-4 text-center">
                                                    <h5 class="font-sm-14 m-0">CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM</h5>
                                                    <h5 class="font-sm-14 font-weight-bold m-0">Độc lập - Tự do - Hạnh phúc</h5>
                                                    <i class="font-sm-13">Sơn La, ngày {{getDatetime | date:'dd'}} tháng {{getDatetime | date:'MM'}} năm {{getDatetime | date:'yyyy'}}</i>
                                                </div>
                                            </div>

                                            <div class="form-title col-12 text-center mt-2 my-4">
                                                <h4 class="font-sm-18 m-0 font-weight-bold">THỐNG KÊ </h4>
                                                <p class="font-sm-15 m-0 font-weight-bold">THÔNG TIN DỮ LIỆU VỀ TRỮ LƯỢNG KHAI THÁC TỪNG TẦNG CỦA NƯỚC DƯỚI ĐẤT TRÊN ĐỊA BÀN TỈNH SƠN LA </p>
                                                <p class="m-0 font-weight-bold d-flex center-center">(Kỳ báo cáo:  <input type="text" class="form-control form-control-sm font-weight-bold" style="width: 50px;" />)</p>
                                            </div>

                                            @Html.Partial("_Search")

                                            <!--<p class="m-0 font-weight-bold">Bảng 1: TRỮ LƯỢNG ĐỘNG TỰ NHIÊN CỦA NƯỚC DƯỚI ĐẤT </p>-->
                                            <div class="table-responsive">
                                                <table class="table no-margin table-hover table-bordered">
                                                    <thead class="custom-table-thead">
                                                        <tr>
                                                            <th rowspan="2" class="text-center align-middle">STT</th>
                                                            <th rowspan="2" class="text-center align-middle">Tầng chứa nước/Lưu vực </th>
                                                            <th colspan="3" class="text-center align-middle text-nowrap">Modul (l/s)</th>
                                                            <th rowspan="2" class="text-center align-middle">Diện tích (km2)</th>
                                                            <th rowspan="2" class="text-center align-middle">Hệ số a</th>
                                                            <th rowspan="2" class="text-center align-middle">Trữ lượng tiềm năng QTN (m3/ng)</th>
                                                            <th rowspan="2" class="text-center align-middle"> Ghi chú </th>
                                                            <th rowspan="2" class="text-center align-middle">Thao tác</th>
                                                        </tr>
                                                        <tr>
                                                            <th class="text-center align-middle">Min</th>
                                                            <th class="text-center align-middle">Max</th>
                                                            <th class="text-center align-middle">TB</th>
                                                        </tr>
                                                        <tr>
                                                            <th class="text-center align-middle">(1)</th>
                                                            <th class="text-center align-middle">(2)</th>
                                                            <th class="text-center align-middle">(3)</th>
                                                            <th class="text-center align-middle">(4) </th>
                                                            <th class="text-center align-middle">(5)</th>
                                                            <th class="text-center align-middle">(6)</th>
                                                            <th class="text-center align-middle">(7)</th>
                                                            <th class="text-center align-middle">(8)</th>
                                                            <th class="text-center align-middle">(9)</th>
                                                            <th class="text-center align-middle">(10)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="custom-table-tbody">
                                                        <tr class="text-center" ng-repeat="item in Data">
                                                            <th class="text-center align-middle">{{(currentPage -1)*numPerPage+$index+1}}</th>
                                                            <td class="text-center align-middle" ng-bind="item.Basin"></td>
                                                            <td class="text-center align-middle" ng-bind="item.I"></td>
                                                            <td class="text-center align-middle" ng-bind="item.II"></td>
                                                            <td class="text-center align-middle" ng-bind="item.III"></td>
                                                            <td class="text-center align-middle" ng-bind="item.IV"></td>
                                                            <td class="text-center align-middle" ng-bind="item.V"></td>
                                                            <td class="text-center align-middle" ng-bind="item.VI"></td>
                                                            <td><span ng-bind="item.Description"></span></td>
                                                            <td class="text-center align-middle">
                                                                <div class="d-flex">
                                                                    <a href="javascript:void(0)" class="px-2" title="Chỉnh sửa" ng-click="Edit(item)"><i class="fa fa-edit"></i></a>
                                                                    <a href="javascript:void(0)" class="text-red" title="Xóa" ng-click="Delete(item)"><i class="fa-solid fa-trash-can"></i></a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- PHẦN phân trang file cshtml-->
                                            <div class="box-footer">
                                                <div class="box-tools pull-right">
                                                    <ul uib-pagination
                                                        total-items="TotalItem "
                                                        ng-model="currentPage"
                                                        items-per-page="numPerPage "
                                                        boundary-links="true"
                                                        previous-text=" &#xf104;"
                                                        next-text=" &#xf105;"
                                                        first-text=" &#xf100;"
                                                        last-text=" &#xf101;"
                                                        max-size="maxSize " ng-change="pageChanged()"
                                                        class="pagination pagination-sm inline fa d-flex"></ul>
                                                </div>
                                            </div>

                                            <!-- PHẦN CHÂN TRANG -->
                                            <div class="form-title d-flex justify-content-between col-12 my-3">
                                                <div class="col-6 col-md-3 text-left p-0 font-sm-13">
                                                    <i>Nơi nhận</i>
                                                    <p class="m-0">- Ban Giám đốc Sở</p>
                                                    <p class="m-0">- Lưu: VT; TNN, KS&KTTV; VP, 10b</p>
                                                </div>
                                                <div class="col-6 col-md-4 text-center font-sm-13">
                                                    <p class="mb-5 font-weight-bold h5 font-sm-16 font-sm-14">NGƯỜI THỐNG KÊ </p>
                                                    <p class="mb-0 mt-5 font-weight-bold">
                                                        @if (Request.IsAuthenticated)
                                                        {
                                                            @User.Identity.GetUserName()
                                                        }
                                                    </p>
                                                </div>
                                            </div>
                                            <!-- KẾT THÚC PHẦN CHÂN TRANG -->
                                        </div>
                                    </div>
                                    <!-- Kết thúc tab hiển thị bảng -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sidenav p-0" id="aside">
                <div>
                    <div class="doc-title py-2 px-0 col-12 d-flex align-items-center" style="background:#15538f; color: #fff; height: 50px">
                        <div class="d-flex col-12 p-0 align-items-center">
                            <div class="col-10">
                                <div class="admission-title d-flex center-center">
                                    <p class="m-0 col-12 p-0 text-left text-uppercase font-16">{{HeaderAction}}</p>
                                </div>
                            </div>
                            <a href="javascript:void(0)" class="closebtn m-0 p-0 text-white" ng-click="closeAside()">&times;</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 row">
                    <div class="col-6 p-3">
                        <div class="floating-label my-2">
                            <input ng-model="item.Basin" class="floating-input w-100" placeholder=" ">
                            <label>Tầng chứa nước/Lưu vực</label>
                        </div>
                    </div>
                    <div class="col-6 p-3">
                        <div class="floating-label my-2">
                            <input type="number" ng-model="item.AverageYear" class="floating-input w-100" placeholder=" ">
                            <label>Tổng toàn tỉnh</label>
                        </div>
                    </div>
                    <fieldset class="col-12 mx-2 border border-secondary p-2 background-color bg-lightgray">
                        <legend class="font-18 font-weight-bold text-primary" style="width: auto">Các huyện</legend>
                        <div class="mb-2">
                            <div class="col-sm-12 p-0 row">
                                <div class="col-md-3 p-2">
                                    <div class="floating-label my-2">
                                        <input type="number" ng-model="item.I" class="floating-input w-100" placeholder=" ">
                                        <label>Nậm La</label>
                                    </div>
                                </div>
                                <div class="col-md-3 p-2">
                                    <div class="floating-label my-2">
                                        <input type="number" ng-model="item.II" class="floating-input w-100" placeholder=" ">
                                        <label>Nậm Pàn</label>
                                    </div>
                                </div>
                                <div class="col-md-3 p-2">
                                    <div class="floating-label my-2">
                                        <input type="number" ng-model="item.III" class="floating-input w-100" placeholder=" ">
                                        <label>Nậm Công</label>
                                    </div>
                                </div>
                                <div class="col-md-3 p-2">
                                    <div class="floating-label my-2">
                                        <input type="number" ng-model="item.IV" class="floating-input w-100" placeholder=" ">
                                        <label>Nậm Giôn</label>
                                    </div>
                                </div>
                                <div class="col-md-3 p-2">
                                    <div class="floating-label my-2">
                                        <input type="number" ng-model="item.V" class="floating-input w-100" placeholder=" ">
                                        <label>Nậm Lệ</label>
                                    </div>
                                </div>
                                <div class="col-md-3 p-2">
                                    <div class="floating-label my-2">
                                        <input type="number" ng-model="item.VI" class="floating-input w-100" placeholder=" ">
                                        <label>Nậm Mu</label>
                                    </div>
                                </div>
                                <div class="col-md-3 p-2">
                                    <div class="floating-label my-2">
                                        <input type="number" ng-model="item.VII" class="floating-input w-100" placeholder=" ">
                                        <label>Nậm Sọi</label>
                                    </div>
                                </div>
                                <div class="col-md-3 p-2">
                                    <div class="floating-label my-2">
                                        <input type="number" ng-model="item.VIII" class="floating-input w-100" placeholder=" ">
                                        <label>Nậm Ty</label>
                                    </div>
                                </div>
                                <div class="col-md-3 p-2">
                                    <div class="floating-label my-2">
                                        <input type="number" ng-model="item.IX" class="floating-input w-100" placeholder=" ">
                                        <label>Suối Muội</label>
                                    </div>
                                </div>
                                <div class="col-md-3 p-2">
                                    <div class="floating-label my-2">
                                        <input type="number" ng-model="item.X" class="floating-input w-100" placeholder=" ">
                                        <label>Suối Sập</label>
                                    </div>
                                </div>
                                <div class="col-md-3 p-2">
                                    <div class="floating-label my-2">
                                        <input type="number" ng-model="item.XI" class="floating-input w-100" placeholder=" ">
                                        <label>Suối Sập Vạt</label>
                                    </div>
                                </div>
                                <div class="col-md-3 p-2">
                                    <div class="floating-label my-2">
                                        <input type="number" ng-model="item.XII" class="floating-input w-100" placeholder=" ">
                                        <label>Suối Tấc</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="col-12 mx-2 p-2">
                        <div class="floating-label">
                            <textarea class="floating-input floating-textarea w-100 h-100" rows="3" ng-model="item.Description" placeholder=" "></textarea>
                            <label>Ghi chú</label>
                        </div>
                    </div>
                </div>
                <div class="pt-1 col-sm-12 d-flex justify-content-end">
                    <button type="button" class="btn btn-sm btn-addnew mx-2" ng-click="Save()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu </button>
                </div>
            </div>
            <div class="sidenav p-0" id="aside2">
                <div>
                    <div class="doc-title py-2 px-0 col-12 d-flex align-items-center" style="background:#15538f; color: #fff; height: 50px">
                        <div class="d-flex col-12 p-0 align-items-center">
                            <div class="col-10">
                                <div class="admission-title d-flex center-center">
                                    <p class="m-0 col-12 p-0 text-left text-uppercase font-16">{{HeaderAction}}</p>
                                </div>
                            </div>
                            <a href="javascript:void(0)" class="closebtn m-0 p-0 text-white" ng-click="closeAside()">&times;</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 row">
                    <div class="col-12 p-3">
                        <div class="floating-label my-2">
                            <input ng-model="item.Basin" class="floating-input w-100" placeholder=" ">
                            <label>Tầng chứa nước/Lưu vực</label>
                        </div>
                    </div>
                    <fieldset class="col-12 mx-2 border border-secondary p-2 background-color bg-lightgray">
                        <div class="mb-2">
                            <div class="col-sm-12 p-0 row">
                                <div class="col-md-4 p-2">
                                    <div class="floating-label my-2">
                                        <input type="number" ng-model="item.I" class="floating-input w-100" placeholder=" ">
                                        <label>Min</label>
                                    </div>
                                </div>
                                <div class="col-md-4 p-2">
                                    <div class="floating-label my-2">
                                        <input type="number" ng-model="item.II" class="floating-input w-100" placeholder=" ">
                                        <label>Max</label>
                                    </div>
                                </div>
                                <div class="col-md-4 p-2">
                                    <div class="floating-label my-2">
                                        <input type="number" ng-model="item.III" class="floating-input w-100" placeholder=" ">
                                        <label>TB</label>
                                    </div>
                                </div>
                                <div class="col-md-4 p-2">
                                    <div class="floating-label my-2">
                                        <input type="number" ng-model="item.IV" class="floating-input w-100" placeholder=" ">
                                        <label>Diện tích (km2)</label>
                                    </div>
                                </div>
                                <div class="col-md-4 p-2">
                                    <div class="floating-label my-2">
                                        <input type="number" ng-model="item.V" class="floating-input w-100" placeholder=" ">
                                        <label>Hệ số a</label>
                                    </div>
                                </div>
                                <div class="col-md-4 p-2">
                                    <div class="floating-label my-2">
                                        <input type="number" ng-model="item.VI" class="floating-input w-100" placeholder=" ">
                                        <label>HTrữ lượng tiềm năng QTN (m3/ng)</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="col-12 mx-2 p-2">
                        <div class="floating-label">
                            <textarea class="floating-input floating-textarea w-100 h-100" rows="3" ng-model="item.Description" placeholder=" "></textarea>
                            <label>Ghi chú</label>
                        </div>
                    </div>
                </div>
                <div class="pt-1 col-sm-12 d-flex justify-content-end">
                    <button type="button" class="btn btn-sm btn-addnew mx-2" ng-click="Save()"><i class="fa fa-floppy-o" aria-hidden="true"></i> Lưu </button>
                </div>
            </div>
        </section>
    </div>
}
    <!--End Nav Pane-->