@using Microsoft.AspNet.Identity
@using WaterResource.Service;
@{
    ViewBag.Title = "Hệ thống quản lý cơ sở dữ liệu tiền cấp phép của UBND Tỉnh";
    UserRightService _service = new UserRightService();
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (_service.IsViewAction("/tien-cap-quyen", User.Identity.Name, "VIEW"))
{
<div ng-controller="myCntrl as demo">
    <script src="~/Scripts/LicenseFee/Controller.js"></script>
    @Html.Partial("ImportServiceJs")
    <!-- Main content -->
    <section class="content py-2 px-0">
        <div class="p-3">
            <!--Chỗ dán bảng-->
            <!-- PHẦN ĐẦU TRANG -->
            @*<div class="form-title d-flex justify-content-between col-12">
                    <div class="col-6 col-sm-3 text-center p-0">
                        <h5 class="font-sm-14 m-0">UBND TỈNH SƠN LA</h5>
                        <h5 class="font-sm-14 font-weight-bold m-0">SỞ TÀI NGUYÊN VÀ MÔI TRƯỜNG</h5>
                        <p class="font-sm-13 d-flex center-center">Số: <input type="text" class="form-control form-control-sm" style="width: 50px;" />   /STNMT-TNN-KS&KTTV</p>
                    </div>
                    <div class="col-6 col-sm-4 text-center">
                        <h5 class="font-sm-14 m-0">CỘNG HOÀ XÃ HỘI CHỦ NGHĨA VIỆT NAM</h5>
                        <h5 class="font-sm-14 font-weight-bold m-0">Độc lập - Tự do - Hạnh phúc</h5>
                        <i class="font-sm-13">Sơn La, ngày {{getDatetime | date:'dd'}} tháng {{getDatetime | date:'MM'}} năm {{getDatetime | date:'yyyy'}}</i>
                    </div>
                </div>*@

            <div class="form-title col-12 text-center mt-2 my-4">
                <h4 class="font-sm-18 m-0 font-weight-bold">THỐNG KÊ </h4>
                <p class="font-sm-15 m-0 font-weight-bold">KẾT QUẢ THU TIỀN CẤP QUYỀN KHAI THÁC SỬ DỤNG CỦA TỈNH</p>
            </div>

            <!--copy fom lọc + nút thêm mới-->
            @Html.Partial("_Search")
            <!--hết copy fom lọc + nút thêm mới-->

            @Html.Partial("_Table")

            <!-- PHẦN CHÂN TRANG -->
            @*<div class="form-title d-flex justify-content-between col-12 my-3">
                    <div class="col-6 col-sm-3 font-sm-14 text-left p-0">
                        <i>Nơi nhận</i>
                        <p class="m-0">- Ban Giám đốc UBND Tỉnh</p>
                        <p class="m-0">- Lưu: VT; TNN, KS&KTTV; VP, 10b</p>
                    </div>
                    <div class="col-6 col-sm-4 font-sm-14 text-center">
                        <h5 class="mb-5 font-sm-16 font-weight-bold">NGƯỜI THỐNG KÊ </h5>
                        <p class="mb-0 mt-5 font-weight-bold">
                            @if (Request.IsAuthenticated)
                            {
                            @User.Identity.GetUserName()
                            }
                        </p>
                    </div>
                </div>*@
            <!-- KẾT THÚC PHẦN CHÂN TRANG -->
        </div>
        @Html.Partial("_FormCreate")
    </section>
    <!-- /.content -->
    @Html.Partial("ViewFilePDF")
</div>
 <!-- /.content-wrapper -->
}
else
{
@Html.Partial("_401")
}